
.topBarView {
    -fx-background-color: rgba(51,51,51,1);
}
.burgerBarView {
    -fx-background-color: rgba(23,38,58,1);
}

.profilePicture {

}


.image-view-wrapper:border {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 5;
}