/*
--ORANGE: rgba(232,73,16,1);
--DARK GREY: rgba(51,51,51,1);
--DARK BLUE: rgba(23,38,58,1);
*/

.topBarView {
    -fx-background-color: rgba(51,51,51,1);
}
.burgerBarView {
    -fx-background-color: rgba(23,38,58,1);
}

.vboxBorderOrange {
    -fx-border-color: rgba(232,73,16,1);
    -fx-border-style: solid;
    -fx-border-width: 0 3 0 0;
}

.burgerBarMenuLabels  {
    -fx-font-size: 26;
    -fx-text-fill: WHITE;
}

.AddAndEditSectionButtons {
    -fx-background-color: rgba(232,73,16,1);
    -fx-font-size: 32;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

.textFields {
    -fx-background-color: rgba(51,51,51,1);
    -fx-text-fill: WHITE;
    -fx-font-size: 24;
    -fx-alignment: CENTER;
}

.CaseHomePageTextArea {
    -fx-text-fill: WHITE;
    -fx-font-size: 24;

}

.CaseHomePageTextArea .content {
    -fx-background-color: rgba(51,51,51,1);
}


.orangeButtons {
    -fx-background-color: rgba(232,73,16,1);
    -fx-font-size: 18;
    -fx-text-fill: WHITE;
    -fx-border-radius: 15;
    -fx-background-radius: 15;

}