@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');
/*The fonts from Google*/
.label{
    -fx-font-family: 'Assistant', sans-serif;
}
.assistantFont{
    -fx-font-family: 'Assistant', sans-serif;
}

.topBarSize{
    -fx-font-size: 32;
}
.bold{
    -fx-font-weight: 800;
}