
/*
--ORANGE: rgba(232,73,16,1);
--DARK GREY: rgba(51,51,51,1);
--DARK BLUE: rgba(23,38,58,1);
*/
.topBarView {
    -fx-background-color: rgba(51,51,51,1);
}
.burgerBarView {
    -fx-background-color: rgba(23,38,58,1);
}

/*Styling ALL the buttons the same*/
.button {
    -fx-background-color: rgba(232,73,16,1);
    -fx-font-size: 18;
    -fx-text-fill: white;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-underline: true;
    -fx-pref-height: 35;
}

.profilePicture {

}


.image-view-wrapper{
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 5;
}

.vboxBorderOrange {
    -fx-border-color: rgba(232,73,16,1);
    -fx-border-style: solid;
    -fx-border-width: 0 3 0 0;
}

.burgerBarMenuLabels  {
    -fx-font-size: 26;
    -fx-text-fill: WHITE;
}
.burgerBarMenuLabelsOrange  {
    -fx-font-size: 26;
    -fx-text-fill: rgba(232,73,16,1);
    -fx-underline: true;
}

.AddAndEditSectionButtons {
    -fx-text-fill: WHITE;
    -fx-background-color: rgba(232,73,16,1);
    -fx-font-size: 18;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

.text-field{
    -fx-background-color: rgba(51,51,51,1);
    -fx-text-fill: WHITE;
    -fx-font-size: 24;
    -fx-alignment: CENTER;
    -fx-pref-width: 250;
    -fx-pref-height: 50;
}
/*styling the combobox looks*/
.combo-box{
    -fx-background-color: rgba(51,51,51,1);
    -fx-font-size: 24;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-pref-height: 50;
}
/*affects the label of the selected item*/
.combo-box .list-cell{
    -fx-text-fill: white;
}
/*for accessing the other elements with a specific background color and a specific text color*/
.combo-box-popup .list-cell {
    -fx-background-color: rgba(51,51,51,1);
    -fx-text-fill: white;
}
.CaseHomePageTextArea {
    -fx-text-fill: WHITE;
    -fx-font-size: 24;
}

.CaseHomePageTextArea .content {
    -fx-background-color: rgba(51,51,51,1);
}

.sectionTitle {
    -fx-font-size: 18;
    -fx-font-weight: bold;
}
